* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*  signup */
.signup {
  position: relative;
  width: 800px;
  height: 600px;
  background: #f4f5fc;
}

@media screen and (max-width: 810px) {
  .signup {
    height: 779px;
    width: 520px;
  }
}

@media screen and (max-width: 530px) {
  .signup {
    height: 720px;
    width: 310px;
  }
}

.signup .group {
  position: absolute;
  width: 665px;
  height: 481px;
  left: 68px;
  top: 60px;
  background: #ffffff;
}

@media screen and (max-width: 810px) {
  .signup .group {
    height: 700px;
    width: 440px;
    left: 40px;
    top: 40px;
  }
}

@media screen and (max-width: 530px) {
  .signup .group {
    left: 10px;
    top: 10px;
    width: 290px;
  }
}

.signup .group .bitmap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: 137px;
  height: 480px;
  background-color: #5a61ed;
}

@media screen and (max-width: 810px) {
  .signup .group .bitmap {
    height: 700px;
    width: 80px;
  }
}

@media screen and (max-width: 530px) {
  .signup .group .bitmap {
    width: 44px;
  }
}

.signup .group .bitmap .sing_up {
  width: 63px;
  height: 162px;
  margin-bottom: 21.98px;
  margin-right: 5.7px;
}

@media screen and (max-width: 530px) {
  .signup .group .bitmap .sing_up {
    height: 108px;
    width: 57px;
    margin-right: 0;
  }
}

.signup .group .bitmap .sing_up .sing_up_h2 {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 49px;
  line-height: 63px;
  letter-spacing: 0.5px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: scale(-1);
          transform: scale(-1);
  color: #ffffff;
}

@media screen and (max-width: 530px) {
  .signup .group .bitmap .sing_up .sing_up_h2 {
    font-size: 32px;
  }
}

.signup .group .noun {
  position: absolute;
  width: 527.8px;
  height: 480px;
  left: 137.2px;
  top: 0.48px;
  background-image: url(../img/noun_925550.svg);
  background-size: 350px 350px;
  background-repeat: no-repeat;
  background-position-x: 201px;
  background-position-y: 130px;
  z-index: 0;
}

@media screen and (max-width: 810px) {
  .signup .group .noun {
    height: 700px;
    width: 360px;
    left: 80px;
    background-position-x: 53px;
    background-position-y: 349px;
  }
}

@media screen and (max-width: 530px) {
  .signup .group .noun {
    left: 44px;
    width: 224px;
    background-position-x: -95px;
  }
}

.signup .group .noun .noun_h3 {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.46px;
  color: #111111;
  margin-left: 20.8px;
  margin-top: 38.52px;
}

@media screen and (max-width: 530px) {
  .signup .group .noun .noun_h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.signup .group .noun .noun_p {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #111111;
  margin-left: 20.8px;
}

.signup .group .noun .noun_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 42px 42px 43px 42px;
      grid-template-rows: 42px 42px 43px 42px;
  margin: 20px 0 0 20px;
  grid-row-gap: 16px;
}

@media screen and (max-width: 810px) {
  .signup .group .noun .noun_container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 42px 42px 43px 42px 42px 42px 43px 42px;
        grid-template-rows: 42px 42px 43px 42px 42px 42px 43px 42px;
  }
}

@media screen and (max-width: 530px) {
  .signup .group .noun .noun_container {
    margin: 20px 0 0 5px;
  }
}

.signup .group .noun .noun_container .noun_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #7c7c7c;
}

.signup .group .noun .noun_container .noun_label .number {
  width: 52px;
  height: 23px;
  margin-top: 8px;
  border-bottom: 1px solid #f2f2f2;
}

.signup .group .noun .noun_container .noun_label .month {
  width: 91px;
  height: 23px;
  margin: 8px 0 0 9px;
  border-bottom: 1px solid #f2f2f2;
}

.signup .group .noun .noun_container .noun_label .year {
  width: 65px;
  height: 23px;
  margin: 8px 0 0 9px;
  border-bottom: 1px solid #f2f2f2;
}

.signup .group .noun .noun_container .noun_label .Male_label {
  /*  vertical-align: text-bottom;
                        margin-top: 12px; */
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #111111;
}

.signup .group .noun .noun_container .noun_label .Female_label {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #111111;
  margin-left: 19px;
}

.signup .group .noun .noun_container .noun_label .input_check {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.signup .group .noun .noun_container .noun_label .radio {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: white;
  border: 0.7px solid #5a61ed;
  border-radius: 50%;
  vertical-align: bottom;
  margin-top: 14px;
}

.signup .group .noun .noun_container .noun_label .radio::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #5a61ed;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.signup .group .noun .noun_container .noun_label .input_check:checked + .radio::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.signup .group .noun .noun_container .no-flex {
  display: block;
}

.signup .group .noun .noun_container .noun_input {
  width: 234px;
  height: 23px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #111111;
  border-bottom: 1px solid #f2f2f2;
}

.signup .group .noun .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  margin: 104px 0 0 0;
}

@media screen and (max-width: 530px) {
  .signup .group .noun .account {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px 0 0 0;
  }
}

.signup .group .noun .account .account_p {
  font-family: "Work Sans", sans-serif;
  font-size: 13px;
  line-height: 15px;
  font-weight: 200;
  color: #000000;
  margin-left: 20px;
}

@media screen and (max-width: 530px) {
  .signup .group .noun .account .account_p {
    margin: 0px;
  }
}

.signup .group .noun .account .account_p .account_a {
  color: #5a61ed;
  text-decoration: underline;
  margin-left: 4px;
  font-weight: 500;
}

.signup .group .noun .account .account_button {
  width: 154px;
  height: 32px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background: #5a61ed;
  border: 0.5px solid #ffffff;
  color: #ffffff;
  margin-right: 22px;
}

@media screen and (max-width: 810px) {
  .signup .group .noun .account .account_button {
    margin: 0;
  }
}

@media screen and (max-width: 530px) {
  .signup .group .noun .account .account_button {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=style.css.map */